@page "/categories"
@using Numus.Shared.Dtoes.Category;
@inject CategoryService categoryService
@inject NavigationManager navigationManager
@inject UserService userService


<AuthorizeView Roles="Admin">
    <Authorized>
        <PageTitle>Categories</PageTitle>
        @if (categories == null)
        {
            <h5>Loading...</h5>
        }
        else
        {
            <RadzenButton Text="Add category" Click="@(args => navigateAddCategory())"></RadzenButton>
            <RadzenDataList WrapItems="true" AllowPaging="true"
                        Data="@categories" TItem="CategoryDto" PageSize="25" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                <Template Context="category">
                    <RadzenCard Style="width: 100%; padding: 0;">
                        <RadzenRow Gap="0">
                                <RadzenColumn Size="6" SizeLG="6" Class="rz-p-4">
                                    <RadzenRow Gap="0">
                                        <RadzenColumn Size="6" SizeMD="6" SizeLG="2">
                                            <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Name</RadzenText>
                                            <RadzenText TextStyle="TextStyle.Body2">@(category.Name)</RadzenText>
                                        </RadzenColumn>
                                    </RadzenRow>
                                </RadzenColumn>
                                <RadzenColumn Size="6" SizeLG="1" Class="rz-p-4">
                                    <RadzenButton Text="Edit" Click="@(args => navigateEditCategory(category))" Style="width: 100%" />
                                </RadzenColumn>
                                <RadzenColumn Size="6" SizeLG="1" Class="rz-p-4">
                                    <RadzenButton Text="Delete" Click="@(args => deleteCategory(category))" Style="width: 100%" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenCard>
                    </Template>
                </RadzenDataList>
        }
    </Authorized>
    <NotAuthorized>
        <h1>Unauthorized access attempt</h1>
        <br>
        <p>You do not have permission to view this page.</p>
        <p>If you require access to this page, contact your administrator.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    List<CategoryDto>? categories;

    protected override async void OnInitialized()
    {
        categories = await categoryService.GetCategoriesAsync();
        StateHasChanged();
    }
    public void navigateEditCategory(CategoryDto categoryDto)
    {
        navigationManager.NavigateTo($"/category/{categoryDto.ExternalId}");
    }
    public void navigateAddCategory()
    {
        navigationManager.NavigateTo($"/category");
    }
    public void deleteCategory(CategoryDto categoryDto)
    {
        categoryService.DeleteCategory(categoryDto);
        navigationManager.NavigateTo("/categories", true);
    }
}
